<body id="grad2">
    <div>

        <p>

        </p>

        <br>


        <p>Para poder ayudarte , necesito conocer mas informacion sobre la incidencia</p><br>

        <p>Selecciona el tipo de incidencia que estas experimentando</p>

        <br>

        <table id="table1">
            <tr>
                <td></td>
                <td> </td>
            </tr>



            <tr>
                <td><label>Incidencia:</label></td>
                <td> <select class="select-css" id="selectinc">
    <option>Incidencias</option>


 </select></td>
            </tr>

            <tr>
                <td>
                    <label>PRIMER SINTOMA:</label>

                </td>

                <td>
                    <select class="select-css" id="selpsint">
        <option value="0">Seleccione su primer Sintoma</option>


     </select>

                </td>

            </tr>



            <tr>

                <td><label>SEGUNDO SINTOMA:</label></td>
                <td><select class="select-css" id="selssint">
    <option value="0">Seleccione su segundo Sintoma</option>


 </select></td>

            </tr>

            <tr>

                <td><label>TERCER SINTOMA:</label></td>
                <td><select class="select-css" id="seltsint">
                  <option value="0">Seleccione su tercer Sintoma</option>


               </select></td>

            </tr>


            <tr>

                <td><label>CUARTO SINTOMA:</label></td>
                <td><select class="select-css" id="selcsint">
                                    <option value="0">Seleccione su cuarto Sintoma</option>


                                 </select></td>

            </tr>

        </table>

        <br><br> &nbsp;&nbsp;&nbsp;&nbsp; <button class="button">LIMPIAR</button> &nbsp;&nbsp;&nbsp;&nbsp;<button class="button" (click)='soluciones()'>AYUDAME</button>




        <br>






    </div>
</body>
