<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  
<div id="dinc" class="nomodal">

  Introduce el nuevo tipo de incidencia:

  <input type="text" id="ninc">


  <br>

  Introduce los sintomas caracteristicas de la incidencia.
  <br>

  Sintoma:
  <input type="text" id="isim1">

  <br>


  <br>

  <Button (click)='createincl()'>Guardar y volver al registro</Button>&nbsp;&nbsp;&nbsp;&nbsp;<Button (click)='createinc()' >Guardar y registrar nuevo Sintoma</Button>


  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>AVISO</h2>
      </div>
      <div class="modal-body">
        <p>Se ingreso un nuevo sintoma, puede ingresar uno nuevo al incidente</p>
       
      </div>
      <div class="modal-footer">
        <h3>___________</h3>
      </div>
    </div>
  
  </div>


  <div id="myModal1" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close1">&times;</span>
        <h2>AVISO</h2>
      </div>
      <div class="modal-body">
        <p>Se ingreso un nuevo Incidente, con un sintoma</p>
       
      </div>
      <div class="modal-footer">
        <h3>___________</h3>
      </div>
    </div>
  
  </div>


</div>





