<body id="grad2">
    <div>

        <p>
            ADYUDA A SERI
        </p>



        <br>
        <br>
        <br>
        <div id="rcorners">

            Porfavor introduce los datos de la incidencia para que la pueda almacenar y ayudarte mejor en el futuro.

            <select id="selectinc">

            <option value="0">Incidencia Conocidas</option>


          </select>

            <br>
            <button>Registrar nueva incidencia</button><br> Selecciona los sintomas que presenta tu incidencia.<br>
            <select id="sintoma1">
            <option>Sintoma1</option>

          </select>

            <br>
            <select id="sintoma2">
            <option>Sintoma2</option>

          </select>

            <br>
            <select id="sintoma3">
            <option>Sintoma3</option>

          </select>

            <br>
            <select id="sintoma4">
            <option>Sintoma4</option>

          </select>


            <br> ¿Como soluctionaste tu incidencia?
            <div id="rsol">



            </div>
            <br> Que pasos seguiste para aplicar la solucion?
            <div id="rcon">



            </div>
            <br> ¿Que consideraciones hay que tener en cuenta al aplicar esta solucion?
            <div id="rpas">



            </div>



        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="button1">GUARDAR DATOS</button>





    </div>
</body>
