<body id="grad2">
    <div id="rcomplete">

        <p>
            AYUDANDOME
        </p>



        <br>
        <br>
        <br>
        <div id="rcorners">


            <div>
                <p class="textos">Esta es la solucion que deberias probar</p>
            </div>
            <br>
            <br>
            <br>

            <div id="rsol">



            </div>
            <br>
            <br>
            <div>
                <p class="textos">Para ello ten en cuenta lo siguiente</p>
            </div>

            <br>
            <br>
            <div id="rcon">



            </div>
            <br>
            <br>
            <div>
                <p class="textos">Estos son los pasos que debes seguir para aplicar la solucion.</p>
            </div>


            <br>
            <br>
            <div id="rpas">



            </div>



        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="button1" (click)="completo()">SI</button> &nbsp;&nbsp;&nbsp;&nbsp;<button class="button1" (click)="othersol()">No, dame otra solucion</button>



        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>SOLUCION</h2>
                </div>
                <div class="modal-body">
                    <p>A continuacion le mostramos otra solucion</p>

                </div>
                <div class="modal-footer">
                    <h3>____________________________________</h3>
                </div>
            </div>

        </div>


        <div id="myModal1" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close1">&times;</span>
                    <h2>SIN SOLUCION CONOCIDA</h2>
                </div>
                <div class="modal-body">
                    <p>Lo siento pero no puedo ayudarte con esta incidencia. </p>
                    <p>Por favor registra tu incidencia cuando encuentres la solución </p>
                    <p>para poder ayudarte en el futuro</p>


                </div>
                <div class="modal-footer">
                    <h3>____________________________________</h3>
                </div>
            </div>

        </div>


    </div>
</body>
